header {
  height: 540px;
  padding-top: 140px;
  width: 100%;
  background-color: lightskyblue;
  background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-name {
  display: flex;
  justify-content: center;
}
