header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  padding-top: 80px;
  height: 400px;
  width: 100%;
  background-color: lightskyblue;
  background-image: url("../images/fresh-snow.png");
}

.my-name {
  display: flex;
  box-sizing: border-box;
  margin-top: -20px;
  height: 30px;
  justify-content: center;
  align-items: center;
}