form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-tweet h2 {
  font-size: larger;
}

form label {
  font-size: large;
}

#tweet-text {
  resize: none;
  height: auto;
  outline: none;
  border: none;
  background-color: inherit;
  border-bottom: thick solid black;
  font-size: large;
}

.button-counter {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "Bungee", sans-serif;
  font-size: large;
}

.negative {
  color: red;
}

button {
  background-color: darkblue;
  color: white;
}

.error-message {
  display: none;
  position: relative;
  margin-bottom: 10px;
  padding: 5px;
  border: thin solid darkred;
  background-color: firebrick;
  font-family: sans-serif;
  font-size: small;
  font-weight: bold;
  color: whitesmoke;
  transition: ease;
}