form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#tweet-text {
  resize: none;
  height: auto;
  outline: none;
  border: none;
  background-color: inherit;
  border-bottom: thick solid black;
  font-size: large;
}

.button-counter {
  padding-top: 20px;
  display: flex;
  font-family: "Bungee", sans-serif;
  justify-content: space-between;
  align-items: flex-end;
}

.negative {
  color: red;
}

button {
  background-color: darkblue;
  color: white;
}
