/* Styles for Tweets in the tweets-container */
.tweets {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-width: medium;
  border-style: solid;
  border-color: black;
}

/* Styles for header in the tweets */
.tweets header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  box-sizing: border-box;
  padding: 1px;
  height: auto;
  width: 100%;
  background-color: inherit;
  background-image: none;
}

/* Styles for User's Avatars and Names */
.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user img {
  margin-right: 10px;
  height: 30px;
}

.user h3 {
  box-sizing: border-box;
  padding-top: 5px;
  font-weight: 375;
  font-size: large;
}

/* Styles for User's Handle */
.tweets header aside {
  padding-top: 15px;
  font-size: large;
  color:aliceblue;
}

/* Styles for the Tweet Content in tweets */
.tweet-content {
  padding: 10px;
  border-bottom-width: medium;
  border-bottom-style: solid;
  border-color: black;
  font-size: large;
}

/* Styles for footer in tweets */
.tweets footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: small;
}

/* Styles for footer icons */
.footer-icons {
  color: darkblue;
}

.footer-icons .fa-solid {
  margin: 2px;
}

/* Styles for footer icons upon Hover */
.footer-icons i:hover{
  color: darkgoldenrod;
}

/* Styles for tweets upon Hover */
.tweets:hover {
  box-shadow: 6px 6px 6px steelblue;
}

/* Media query to change tweets header styling when screen width is 1024px or more */
@media only screen and (min-width: 1024px) {
  .tweets header {
    padding: 0px;
    margin: 0px;
  }
}