.tweets {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-width: medium;
  border-style: solid;
  border-color: black;
}

.tweets header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  box-sizing: border-box;
  padding: 1px;
  height: auto;
  width: 100%;
  background-color: inherit;
  background-image: none;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user img {
  margin-right: 10px;
  height: 30px;
}

.user h3 {
  box-sizing: border-box;
  padding-top: 5px;
  font-weight: 375;
  font-size: large;
}

.tweets header aside {
  padding-top: 15px;
  opacity: 0.4;
  font-size: large;
  color: white;
}

.tweet-content {
  padding: 10px;
  border-bottom-width: medium;
  border-bottom-style: solid;
  border-color: black;
  font-size: large;
}

.tweets footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: small;
}

.footer-icons {
  color: darkblue;
}

.footer-icons i:hover{
  color: darkgoldenrod;
}

.tweets:hover {
  box-shadow: 6px 6px 6px steelblue;
}